@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Assistant", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", serif;
  
  --color-brand-primary: #1A1A1A;
  --color-brand-accent: #C5A059;
  --color-brand-bg: #F4F2EE;
  --color-brand-noa: #121316;
}

@layer base {
  body {
    @apply font-sans antialiased bg-brand-bg text-brand-primary;
  }
}

@layer utilities {
  .artistic-shadow {
    box-shadow: 0 40px 80px rgba(0,0,0,0.08);
  }
}
